<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>full_lease_landlord.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>435696379C434ABA74DFA166601B873AF6A9625E</string>
				<key>dateExpires</key>
				<string>2021/10/12</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>34QF648657.com.girders.qzhLandlord</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>34QF648657</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>full_lease_landlord.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ce4dc2b5-cb85-413b-95ed-9bc5c7eb29fc</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.girders.qzhLandlord</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>34QF648657</string>
				<key>name</key>
				<string>Keaide (Shanghai) Information Technology Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
